/build
/install
/log
mujoco-3.3.7/model
mujoco-3.3.7/sample
src/test_mujoco/modules
/.vscode
/debug


src/test_mujoco/module_temp
# src/test_mujoco/engineer_module

src/test_mujoco/model2
src/test_mujoco/engineer_module

compile_commands.json

fov_matrix.py

src/mujuco_rotating/engineer_module/meshes/arm/back