/build
/install
/log
src/test_mujoco/mujoco-3.3.7/model
src/test_mujoco/mujoco-3.3.7/sample
src/test_mujoco/modules
/.vscode
/debug


src/test_mujoco/module_temp
# src/test_mujoco/engineer_module

src/test_mujoco/model2
src/test_mujoco/engineer_module